<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>神這麼愛祂所創造的人類, 為什麼會與人分開或隔離呢? </title>
    <style>
       h2{
   margin-left:130px;
 }
    </style>
     <link href="../css/main.css" type="text/CSS" rel="stylesheet" />
</head>
<body>
	<section class="button-area">
    <div class="container border-top-generic">
      <h1 class="text-heading title_color">神這麼愛祂所創造的人類, 為什麼會與人分開或隔離呢?</h1>
      <div class="container_picture mt-4">

        <div class="genric-btn default"><h2>1.</h2><img src="../img/story/c1.jpg"></div>
        <div class="genric-btn primary"><h2>2.</h2><img src="../img/story/c2.jpg"></div>
        <div class="genric-btn success"><h2>3.</h2><img src="../img/story/c3.jpg"></div>
        <div class="genric-btn info"><h2>4.</h2><img src="../img/story/c4.jpg"></div>
        <div class="genric-btn warning"><h2>5.</h2><img src="../img/story/c5.jpg"></div>
        <div class="genric-btn danger"><h2>6.</h2><img src="../img/story/c6.jpg"></div>
        <div class="genric-btn link"><h2>7.</h2><img src="../img/story/c7.jpg"></div>
        <div class="genric-btn disable"><h2>8.</h2><img src="../img/story/c8.jpg"></div>
        <div class="genric-btn disable"><h2>9.</h2><img src="../img/story/c9.jpg"></div>
        
        
      </div>
    </div>
    </section>
 
</body>
</html>