<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="image/favicon.png" type="image/png">
        <title>Faith Church Multi</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/fontawesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <!--================Header Area =================-->
		<header class="header_area">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-5">
                            <ul class="nav social_icon">
                                <li><a href="#"><img src="img/facebook.jpg"></a></li>
                                <li><a href="#"><img src="img/email.jfif"></a></li>
                                <li><a href="#"><img src="img/phone.jpg"></a></li>
                            </ul>
                        </div>
                      
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="http://localhost/faith"><img src="img/church_view.jpg" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="http://localhost/faith">首頁</a></li> 
                            <li class="nav-item"><a class="nav-link" href="ministries.html">小組</a></li>
                            <li class="nav-item"><a class="nav-link" href="sermons.html">教會平台</a></li>
                            <li class="nav-item submenu dropdown active">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教會生活</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="event.html">社會關懷</a></li>
                                    <li class="nav-item"><a class="nav-link" href="event-details.html">新朋友</a></li>
                                </ul>
                            </li> 
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教會生活</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="about-us.html">教會課程</a></li>
                                    <li class="nav-item"><a class="nav-link" href="gallery.html">兒童主日學</a></li>
                                    <li class="nav-item"><a class="nav-link" href="elements.html">資源分享區</a></li>
                                </ul>
                            </li>  
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">生活花絮</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">教會活動</a></li>
                                    <li class="nav-item"><a class="nav-link" href="blog-single.html">見證分享</a></li>
                                </ul>
                            </li> 
                            
                            <li class="nav-item"><a class="nav-link" href="contact.html">聯絡我們</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
                        </ul>
                    </div> 
                </div>
            </nav>
        </header>
     
        
   
       

        
		<!-- Start Sample Area -->
			<section class="sample-text-area">
				<div class="container">
					<h3 class="text-heading title_color">Text Sample</h3>
					<p class="sample-text">
						Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary, or short film to show off their creative prowess. Many have great ideas and want to “wow” the<sup>Superscript</sup> scene, or video renters with their big project.  But once you have the<sub>Subscript</sub> “in the can” (no easy feat), how do you move from a <del>Strike</del> through of master DVDs with the <u>“Underline”</u> marked hand-written title inside a secondhand CD case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap sitting on your doorstep?  You need to create eye-popping artwork and have your project replicated. Using a reputable full service DVD Replication company like PacificDisc, Inc. to partner with is certainly a helpful option to ensure a professional end result, but to help with your DVD replication project, here are 4 easy steps to follow for good DVD replication results: 

					</p>
				</div>
			</section>
			<!-- End Sample Area -->
			<!-- Start Button -->
			<section class="button-area">
				<div class="container border-top-generic">
					<h3 class="text-heading title_color">聖經故事</h3>
					<div class="button-group-area">
				
						<a href="story/creation.html" class="genric-btn">1. 神這麼愛祂所創造的人類, 為什麼會與人分開或隔離呢?</a></br>
						<a href="#" class="genric-btn ">2. 神對於人與祂隔絕的態度為何?  但人又是甚麼態度來回應神呢?</a></br>
						<a href="#" class="genric-btn">3. 罪會遺傳或擴大嗎? 神如何處理呢? </a></br>
						<a href="#" class="genric-btn">4. 經歷了這次的災難, 人就會悔改不犯罪了嗎? </a></br>
						<a href="#" class="genric-btn "> 5. 誰是亞伯蘭呢? </a></br>
						<a href="#" class="genric-btn ">6. 亞伯蘭是誰 (二)? </a></br>
						<a href="#" class="genric-btn ">7. 救恩與亞伯拉罕有甚麼關係?</a></br>
						
					</div>
					<div class="button-group-area mt-10"><h3>起初神創造天地</h3>
						<a href="science/simon.html" class="genric-btn info-border">鮭魚洄游</a>
						<a href="#" class="genric-btn info-border">杜鵑鳥生蛋</a>
						<a href="#" class="genric-btn info-border">天蠶蛾的構造</a>
						<a href="#" class="genric-btn info-border">無花果 vs. 榕(果)小蜂 </a>
						<a href="#" class="genric-btn info-border">彗星蘭 vs. 馬島長喙天蛾</a>
						<a href="#" class="genric-btn info-border">射水魚</a>
						<a href="#" class="genric-btn info-border">棕長頸捲葉象鼻蟲</a>
						<a href="#" class="genric-btn info-border">奇妙的蜘蛛網</a>
						<a href="#" class="genric-btn info-border">貓頭鷹</a>
						<a href="#" class="genric-btn info-border">母袋鼠的特異功能</a>
						<a href="#" class="genric-btn info-border">人類ＤＮＡ</a>

					</div>
					<div class="button-group-area mt-40">
						<a href="#" class="genric-btn default radius">Default</a>
						<a href="#" class="genric-btn primary radius">Primary</a>
						<a href="#" class="genric-btn success radius">Success</a>
						<a href="#" class="genric-btn info radius">Info</a>
						<a href="#" class="genric-btn warning radius">Warning</a>
						<a href="#" class="genric-btn danger radius">Danger</a>
						<a href="#" class="genric-btn link radius">Link</a>
						<a href="#" class="genric-btn disable radius">Disable</a>
					</div>
					<div class="button-group-area mt-10">
						<a href="#" class="genric-btn default-border radius">Default</a>
						<a href="#" class="genric-btn primary-border radius">Primary</a>
						<a href="#" class="genric-btn success-border radius">Success</a>
						<a href="#" class="genric-btn info-border radius">Info</a>
						<a href="#" class="genric-btn warning-border radius">Warning</a>
						<a href="#" class="genric-btn danger-border radius">Danger</a>
						<a href="#" class="genric-btn link-border radius">Link</a>
						<a href="#" class="genric-btn disable radius">Disable</a>
					</div>
					<div class="button-group-area mt-40">
						<a href="#" class="genric-btn default circle">Default</a>
						<a href="#" class="genric-btn primary circle">Primary</a>
						<a href="#" class="genric-btn success circle">Success</a>
						<a href="#" class="genric-btn info circle">Info</a>
						<a href="#" class="genric-btn warning circle">Warning</a>
						<a href="#" class="genric-btn danger circle">Danger</a>
						<a href="#" class="genric-btn link circle">Link</a>
						<a href="#" class="genric-btn disable circle">Disable</a>
					</div>
					<div class="button-group-area mt-10">
						<a href="#" class="genric-btn default-border circle">Default</a>
						<a href="#" class="genric-btn primary-border circle">Primary</a>
						<a href="#" class="genric-btn success-border circle">Success</a>
						<a href="#" class="genric-btn info-border circle">Info</a>
						<a href="#" class="genric-btn warning-border circle">Warning</a>
						<a href="#" class="genric-btn danger-border circle">Danger</a>
						<a href="#" class="genric-btn link-border circle">Link</a>
						<a href="#" class="genric-btn disable circle">Disable</a>
					</div>
					<div class="button-group-area mt-40">
						<a href="#" class="genric-btn default circle arrow">Default<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn primary circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn success circle arrow">Success<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn info circle arrow">Info<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn warning circle arrow">Warning<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn danger circle arrow">Danger<span class="lnr lnr-arrow-right"></span></a>
					</div>
					<div class="button-group-area mt-10">
						<a href="#" class="genric-btn default-border circle arrow">Default<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn primary-border circle arrow">Primary<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn success-border circle arrow">Success<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn info-border circle arrow">Info<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn warning-border circle arrow">Warning<span class="lnr lnr-arrow-right"></span></a>
						<a href="#" class="genric-btn danger-border circle arrow">Danger<span class="lnr lnr-arrow-right"></span></a>
					</div>
					<div class="button-group-area mt-40">
						<a href="#" class="genric-btn primary e-large">Extra Large</a>
						<a href="#" class="genric-btn success large">Large</a>
						<a href="#" class="genric-btn primary">Default</a>
						<a href="#" class="genric-btn success medium">Medium</a>
						<a href="#" class="genric-btn primary small">Small</a>
					</div>
					<div class="button-group-area mt-10">
						<a href="#" class="genric-btn primary-border e-large">Extra Large</a>
						<a href="#" class="genric-btn success-border large">Large</a>
						<a href="#" class="genric-btn primary-border">Default</a>
						<a href="#" class="genric-btn success-border medium">Medium</a>
						<a href="#" class="genric-btn primary-border small">Small</a>
					</div>
				</div>
			</section>
			<!-- End Button -->
			<!-- Start Align Area -->
			<div class="whole-wrap">
				<div class="container">
					<div class="section-top-border">
						<h3 class="mb-30 title_color">Left Aligned</h3>
						<div class="row">
							<div class="col-md-3">
								<img src="image/elements/d.jpg" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20 left-align-p">
								<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
							</div>
						</div>
					</div>
					<div class="section-top-border text-right">
						<h3 class="mb-30 title_color">Right Aligned</h3>
						<div class="row">
							<div class="col-md-9">
								<p class="text-right">Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons why your PC is getting slower and do something to keep your PC running at its best. You can do this through regular maintenance and PC performance optimization programs</p>
								<p class="text-right">Before we discuss all of the things that could be affecting your PC’s performance, let’s talk a little about what symptoms</p>
							</div>
							<div class="col-md-3">
								<img src="image/elements/d.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="section-top-border">
						<h3 class="mb-30 title_color">Definition</h3>
						<div class="row">
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Definition 01</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Definition 02</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Definition 03</h4>
									<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p>
								</div>
							</div>
						</div>
					</div>
					<div class="section-top-border">
						<h3 class="mb-30 title_color">Block Quotes</h3>
						<div class="row">
							<div class="col-lg-12">
								<blockquote class="generic-blockquote">
									“Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking” 
								</blockquote>
							</div>
						</div>
					</div>
			
		                
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                   
		<!--================ End footer Area  =================-->
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>